nav {
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

nav a {
  color: black;
  margin-left: 0.15em;
  margin-right: 0.15em;
  padding: 1em;
  background-color: #ffffff;
  border: 0.2em;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.35s;
}

nav a.active {
  background-color: maroon;
  color: white;
}

nav a:hover {
  background-color: rgb(255, 166, 0);
}
