.update-order-container {
  padding: 20px;
}

fieldset {
  margin-bottom: 20px;
}

fieldset.inline-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

fieldset.inline-options label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

fieldset.toppings-options label {
  display: block;
  margin-bottom: 5px;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

.update-pizza-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-pizza-button:hover {
  background-color: #218838; 
}